body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgrayh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0;

}
.mainheader {
    background: #333;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 34px;
}
.links.ul{
    padding-left: 0;
}
.links.ul li a{
    text-decoration: none;
    padding-left: 80px;

}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: aquamarine;
    width: 100%;
}
.links li {
    display: inline-block;
    width: 236px;
    padding-left: 0px;
    font-size: 37px;
    text-decoration: none;
}

.links li :hover{
    color: blue;
}


main {
   
    min-height: auto;
    flex: 1;
}
main{
    background: mistyrose;
    
}

.media-link{
    width: 100px;
    height: 36px;
}

.links.ul{
    display: flex;
    width: 1272px;
    padding-right: 0px;
    padding-left: 0;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
}
img.home-img{
    max-width: 414px;
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
}
section.container{
    max-width: 1134px;
    margin: 80px auto 20px;
}
section.project{
    max-width: 1205px;
    margin: 40px auto 159px;
}
img {
    float: left;
    margin-right: 86px;
    max-width: 304px;
}
footer {
    position: relative;
    width: 100%;
    background: mistyrose;
    min-height: 49px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.ion {
    list-style: none;
    display: flex;
    margin: 4px 427px;
    align-content: center;
    padding: 0px;
    width: 100%;
    font-size: 37px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
ul.ion li {
    margin: 38px;
}
ul.ion li a{
    color: #333;
}
.section-contact{
    height: 100vh;
    background:url(contact-us-baground-image.webp) no-repeat center;
    background-size: cover;
    padding: 40px 0;

}
.section-contact h1{
    text-align: center;
    color: #210303;
    font-size: 37px;
    font-style: none;

}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: initial;
}
.contact-form-text{
    width: 100%;
    margin: 16px 0;
    padding: 20px 40px;
    background: #111;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text :focus{
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
    resize: none;
    height: 140px;
}
.contact-form-btn{
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    width: fit-content;
}
.contact-form-btn :hover{
    background: #2980b9;
}